<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--測試-->
    <!--<add name="DBERP" connectionString="metadata=res://*/Entities.ERPDB.csdl|res://*/Entities.ERPDB.ssdl|res://*/Entities.ERPDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4;initial catalog=George;user id=sa;password=sasasasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--正式-->
    <add name="DBERP" connectionString="metadata=res://*/Entities.ERPDB.csdl|res://*/Entities.ERPDB.ssdl|res://*/Entities.ERPDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4;initial catalog=NavisionNew;user id=sa;password=sasasasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBLOG" connectionString="metadata=res://*/Entities.EINVOICELOGDB.csdl|res://*/Entities.EINVOICELOGDB.ssdl|res://*/Entities.EINVOICELOGDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.206;initial catalog=EinvoiceLogger;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPDB" connectionString="metadata=res://*/Entities.ERPDB.csdl|res://*/Entities.ERPDB.ssdl|res://*/Entities.ERPDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.4;initial catalog=NavisionNew;user id=sa;password=sasasasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="eInvoiceSLNDBEntities" connectionString="metadata=res://*/Entities.EIVOICEDB.csdl|res://*/Entities.EIVOICEDB.ssdl|res://*/Entities.EIVOICEDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.3;initial catalog=eInvoiceSLNDB;user id=eInvoiceSLNDB;password=1qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false" host="192.168.1.27" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>